<app-pokemon-type-effectiveness-item
  text="Double damage from:"
  [list]="doubleDamageFrom"
>
</app-pokemon-type-effectiveness-item>

<app-pokemon-type-effectiveness-item
  text="Half damage from:"
  [list]="halfDamageFrom"
>
</app-pokemon-type-effectiveness-item>

<app-pokemon-type-effectiveness-item
  text="No damage from:"
  [list]="noDamageFrom"
>
</app-pokemon-type-effectiveness-item>

<app-pokemon-type-effectiveness-item
  text="Double damage to:"
  [list]="doubleDamageTo"
>
</app-pokemon-type-effectiveness-item>

<app-pokemon-type-effectiveness-item
  text="Half damage to:"
  [list]="halfDamageTo"
>
</app-pokemon-type-effectiveness-item>

<app-pokemon-type-effectiveness-item
  text="No damage to:"
  [list]="noDamageTo"
>
</app-pokemon-type-effectiveness-item>
