$pokemon-number-background-color: #FF6666;
$pokemon-number-border: red;

.pokemon-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  img {
    transition: all .1s ease;
  }

  .title {
    border-bottom: 1px solid #CCC;
    vertical-align: middle;
    padding-bottom: 10px;

    p {
      color: gray;
    }

    span {
      font-size: 16px;
      font-weight: bold;
    }
  }
}

.pokemon-number {
  background: $pokemon-number-background-color;
  border: 1px solid $pokemon-number-border;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  padding: 5px 10px;
  vertical-align: top;
  margin-top: 5px;
}
